*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Libre Baskerville', serif !important;
}
.main-color{
    color: #D14200 !important;
}
.main-colorbg{
    background-color: #D14200 !important;
}
nav ul li a:hover{
    color: #D14200 !important;
    font-weight: bold;
}
/* Hero section */
.parallax{
    background: url(../img/bg-img2.webp) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.posts-text:hover{
    transform: translateY(10%);
}

/* Form-section */

@media screen and (min-width:768px){
    #post-form{
        width: 70% !important;
    }
}